@font-face {
  font-family: "cascadia";
  src: url("../fonts/cascadia-mono/CascadiaMono.ttf") format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "cascadia";
  src: url("../fonts/cascadia-mono/CascadiaMono-Bold.otf") format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "cascadia";
  src: url("../fonts/cascadia-mono/CascadiaMono-Italic.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "cascadia";
  src: url("../fonts/cascadia-mono/CascadiaMono-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}
