:root {
  --main-text-color: hsl(252, 7%, 72%);
  --second-text-color: hsl(252, 7%, 30%);
  --sec-color-background: #9ea8a3;
  --linear-color-background: linear-gradient(90deg, #9ea8a3 0%, #5a605d 100%);
  --orange-main-color: hsl(18, 77%, 45%);
  --sz: 5vmin; /* size */
  --on: #269fe5; /* color on */
  --of: #616774; /* color off */
  --tr: all 0.25s ease 0s;
}
