@import url("fonts.css");
@import url("globals.css");
@import url("orange-button.css");
@import url("tech-stack.css");

.name {
  background: linear-gradient(
    90deg,
    rgba(2, 0, 36, 1) 0%,
    rgba(9, 9, 121, 1) 35%,
    rgba(0, 212, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

body {
  background: linear-gradient(180deg, #222b38 0%, #000000 100%);
  background-attachment: fixed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "cascadia";
  color: var(--main-text-color);
}

.about-me {
  padding: 30px;
  border-width: 2px;
  border-color: #000000;
  border-style: solid;
}

.foot {
  justify-content: flex-end;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: end;
}

button {
  font-weight: bold;
  background-color: transparent;
  border-color: var(--main-text-color);
  cursor: pointer;
}

.foot p {
  color: #fc541c;
}

h4 {
  color: var(--orange-main-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
}

a {
  color: var(--main-text-color);
}
