body {
  background: linear-gradient(180deg, #222b38 0%, #000000 100%);
  background-attachment: fixed;
  font-family: "cascadia";
  color: var(--main-text-color);
  line-height: 135%;
}

#main-div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

h4 {
  color: var(--orange-main-color);
  font-weight: 700;
  text-transform: uppercase;
  font-size: 25px;
}

a {
  color: var(--main-text-color);
}

li {
  margin-bottom: 3px;
}
