@import url("globals.css");

.tech-div-main {
  display: flex;
  align-items: stretch;
  min-height: 200px;
}

@media only screen and (max-width: 600px) {
  .tech-div-main {
    height: 250px;
  }
}

#tech-image {
  width: 100px;
  height: 100px;
  margin-bottom: 30px;
  margin-right: 40px;
}

#tech-div-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#change-desc-tech-stack {
  max-width: 30ch;
  margin-top: 0px;
}

#tech-stack-date {
  text-align: center;
}

#tech-time {
  display: flex;
  justify-content: end;
  align-items: end;
  flex-grow: 1;
  font-weight: 100;
  color: var(--second-text-color);
  margin-top: -10px;
}

#tech-div-text {
  display: flex;
  flex-direction: column;
}

#tech-div-main-main {
  display: flex;
  flex-direction: column;
  align-items: center;
}
